<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
         bootstrap="LoginTestHarness.php"
         strict="true">
    <testsuites>

      <testsuite name="Core">
          <directory>Tests/Core/</directory>
      </testsuite>
      <testsuite name="Cases">
      </testsuite>
    </testsuites>
</phpunit>